.drum-pad {
  background-color: cyan;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  cursor: pointer;
  margin: 5px;
}

.notClicked {
  border: 2px solid darkblue;
  box-shadow: 2px 2px 2px blue;
}

.clicked {
  width: 55px;
  height: 55px;
  margin: 7px 7px 7px 9px;
  border: 3px solid blue;
}

#drum-machine {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px;
  width: auto;
}

#nowPlaying {
  grid-area: 4/1/5/4;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.App {
  display: flex;
  justify-content: space-around;
}